<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Line of code changes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="root" style="height: 100vh;"></div>
    <script src="../../treemap.bundle.js"></script>
    <script type="text/javascript">
      fetch("kafka.json")
        .then((res) => {
          return res.text();
        })
        .then((data) => {
          const heatmapMetricName = "LOC C";
          treemap.render(
            data,
            document.querySelector(".root"),
            heatmapMetricName
          );
        })
        .catch((err) => {
          console.log(err);
        });
    </script>
  </body>
</html>
